###########################
# OmniROM Aries sepolicy
#
# camera
type camera, domain;
type camera_exec, exec_type, file_type;

# Started by init
init_daemon_domain(camera)

allow camera self:process execmem;

allow camera camera_device:dir search;
allow camera { video_device graphics_device camera_device }:chr_file rw_file_perms;
allow camera { surfaceflinger mediaserver }:fd use;
