###########################
# OmniROM Aries sepolicy
#
unconfined_domain(init)

allow init self:capability { sys_module };
allow init self:process { execmem setcurrent };

allow init lvm_placeholder:process { dyntransition };

# allow init kmem_device:chr_file create_file_perms;

allow init ashmem_device:chr_file { execute };

allow init device:blk_file { create setattr relabelfrom relabelto };

allow init block_device:blk_file { relabelfrom relabelto };

allow init kernel:system { syslog_read };
# allow init kernel:security { setenforce };

allow init app_data_file:file { create_file_perms relabelfrom relabelto };
allow init app_data_file:dir { create_dir_perms relabelfrom relabelto };
allow init app_data_file:lnk_file { create_file_perms relabelfrom relabelto };

allow init datadata_file:file { create_file_perms relabelfrom relabelto };
allow init datadata_file:dir { create_dir_perms relabelfrom relabelto };
allow init datadata_file:lnk_file { create_file_perms relabelfrom relabelto };

allow init radio_device:file { create_file_perms relabelfrom relabelto };
allow init radio_device:dir { create_dir_perms relabelfrom relabelto };
allow init radio_device:lnk_file { create_file_perms relabelto relabelto };

allow init vfat:file { create_file_perms relabelfrom relabelto };
allow init vfat:dir { create_dir_perms relabelfrom relabelto };
allow init vfat:lnk_file { create_file_perms relabelfrom relabelto };

allow init shell_data_file:file { create_file_perms relabelfrom relabelto };
allow init shell_data_file:dir { create_dir_perms relabelfrom relabelto };
allow init shell_data_file:lnk_file { create_file_perms relabelfrom relabelto };

allow init init_tmpfs:file { create_file_perms relabelfrom relabelto };
allow init init_tmpfs:dir { create_dir_perms relabelfrom relabelto };
allow init init_tmpfs:lnk_file { create_file_perms relabelfrom relabelto };

allow init shell_data_file:file { create_file_perms relabelfrom relabelto };
allow init shell_data_file:dir { create_dir_perms relabelfrom relabelto };
allow init shell_data_file:lnk_file { create_file_perms relabelfrom relabelto };

allow init untrusted_app:process { signal };
