###########################
# OmniROM Aries sepolicy
#
allow system_server zygote:binder { call transfer };
allow system_server default_prop:property_service { set };
