###########################
# OmniROM Aries sepolicy
#
allow system_app sysfs_ksm:dir { search };
allow system_app sysfs_writable:file { getattr write open };
allow system_app system_data_file:dir { remove_name add_name };
allow system_app system_data_file:file { unlink create write };
allow system_app system_app_data_file:file { execute execute_no_trans };
