import usb.rc # Renamed init.aries.usb.rc, we can't use init*.rc because the build script will delete it

on init

    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin

on fs

#   LVM: set up LVM volumes
    wait /sys/dev/block/179:0
    start lvm_vgscan
    start lvm_vgchange

    restorecon /dev/mapper/lvpool-system
    restorecon /dev/mapper/lvpool-userdata

on boot

    # mass_storage support
    setprop sys.usb.config mass_storage,adb

# LVM services
# Scan for LVM physical volumes and set up volume groups
service lvm_vgscan /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    seclabel u:r:lvm:s0
    disabled
    oneshot

# Activate LVM logical volumes in found volume groups
service lvm_vgchange /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    seclabel u:r:lvm:s0
    disabled
    oneshot
